<app-carloconti></app-carloconti>

<section
  class="w-full h-screen flex flex-col justify-start items-center gap-5 pt-[10rem] lg:pt-0 lg:justify-center"
>
  <h2>Login</h2>
  <form class="flex flex-col border p-5">
    <mat-form-field>
      <mat-label>NickName</mat-label>
      <input
        matInput
        placeholder="Inserisci il tuo nome"
        class="placeholder:text-[0.8rem]"
      />
    </mat-form-field>
    <mat-form-field class="mb-0">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Inserisci la tua password"
        class="placeholder:text-[0.8rem]"
      />
    </mat-form-field>
  </form>
</section>

<p class="text-[10rem] absolute">password</p>
<div class="absolute top-0 right-0 border text-[5rem] p-5"><p>password</p></div>
