<app-carloconti></app-carloconti>

<section
  class="w-full h-screen flex flex-col justify-start items-center gap-5 pt-[10rem] lg:pt-0 lg:justify-center"
>
  <h2>Login</h2>
  <form class="flex flex-col border p-5">
    <mat-form-field>
      <mat-label>NickName</mat-label>
      <input
        matInput
        placeholder="Inserisci il tuo nome"
        class="placeholder:text-[0.8rem]"
      />
    </mat-form-field>
    <mat-form-field class="mb-0">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Inserisci la tua password"
        class="placeholder:text-[0.8rem]"
      />
    </mat-form-field>
  </form>
</section>

<div
  class="absolute top-0 text-[5rem] z-30 crazy flex justify-center items-center text-white p-5"
>
  password
</div>
<div
  class="absolute top-[10rem] left-[10rem] text-[5rem] z-30 crazy flex justify-center items-center opacity-0 lg:opacity-100 text-white p-5"
>
  password
</div>
<div
  class="absolute top-[10rem] right-[10rem] text-[5rem] z-30 crazy flex justify-center items-center opacity-0 lg:opacity-100 text-white p-5"
>
  password
</div>
<div
  class="absolute bottom-0 text-[5rem] z-30 crazy flex justify-center items-center text-white p-5"
>
  password
</div>
