<div class="fixed w-full h-full overflow-hidden z-30">
  <div class="relative w-full h-full">
    <button mat-raised-button [style]="carloButton" (mouseover)="spost()">
      <a routerLink="/register">Cambia Assistente</a>
    </button>
    <img
      *ngIf="!trollToggle"
      src="/carloconti/standard.png"
      alt="carlo"
      class="absolute bottom-0 max-h-[500px] left-[100px]"
    />
    <img
      src="/carloconti/furioso.png"
      alt="carlo"
      class="absolute bottom-0 max-h-[500px] left-[100px] hidden"
    />
    <img
      *ngIf="trollToggle"
      src="/carloconti/troll.png"
      alt="carlo"
      class="absolute bottom-0 max-h-[500px]"
    />

    <img
      *ngIf="trollToggle"
      src="/carloconti/troll.png"
      alt="carlo"
      class="absolute -right-[30rem] w-[2000px] h-auto carlotiptap hidden lg:block"
    />
    <div
      *ngIf="!trollToggle"
      class="bg-white z-20 absolute left-0 right-0 bottom-5 p-10 rounded-full border-2 border-black lg:left-[30%] lg:right-[40%] flex justify-center items-center"
    >
      {{ whatCarloSay }}
    </div>

    <img
      *ngIf="trollToggle"
      src="/carloconti/trollface.png"
      alt="troll"
      class="absolute bottom-[30%] left-[230px] z-20 max-h-[9rem]"
    />
  </div>
</div>
