<div class="absolute w-full h-full">
  <div class="relative w-full h-full">
    <img
      *ngIf="!trollToggle"
      src="/carloconti/standard.png"
      alt="carlo"
      class="absolute bottom-0 max-h-[500px] left-[100px]"
    />
    <img
      src="/carloconti/furioso.png"
      alt="carlo"
      class="absolute bottom-0 max-h-[500px] left-[100px] hidden"
    />
    <img
      *ngIf="trollToggle"
      src="/carloconti/troll.png"
      alt="carlo"
      class="absolute bottom-0 max-h-[500px]"
    />
    <div
      *ngIf="!trollToggle"
      class="bg-white z-20 absolute left-[50%] right-0 bottom-5 p-10 rounded-full border-2 border-black lg:left-[30%] lg:right-[40%]"
    >
      Ciao, sono Carlo Conti, il tuo assistente personale! Per cominciare
      inserisci i tuoi dati di login, e se non sei già registrato registrati!
      Tranquillo, la sicurezza è il nostro vanto, la tua password passerà sotto
      27 crittazioni e non sarà visibile da nessuno.
    </div>

    <img
      *ngIf="trollToggle"
      src="/carloconti/trollface.png"
      alt="troll"
      class="absolute bottom-[30%] left-[230px] z-20 max-h-[9rem]"
    />
  </div>
</div>
